# String: Data in inverted comas
## String is Class
### String is immutable (non changeable)

In [6]:
course = "artificial Intelligence"
print(type(course))

<class 'str'>

In [7]:
course.capitalize()

'Artificial intelligence'

In [8]:
course.upper()

'ARTIFICIAL INTELLIGENCE'

In [9]:
course.lower()

'artificial intelligence'

In [10]:
course.title()

'Artificial Intelligence'

In [11]:
course.count('i')

4

In [4]:
text = "Is there something specific youâ€™re trying to start? I'd love to help you figure out how to take that first step!"

text.endswith('step!')

True

In [7]:
text.count('help')

1

In [ ]:
text.count("t")

14

In [ ]:
text.startswith('Is')

False

In [12]:
marks = '100'

marks.isalnum()

True

In [13]:
marks.isalpha()

False

In [14]:
marks.isdigit()

True

In [15]:
marks.isdecimal()

True

## String Concatenation: joining
####  + operator is concatenation operator

In [20]:
first_name = "Muhammad"

last_name = "Tayyab"

first_name + last_name

'MuhammadTayyab'

In [ ]:
age = 21

first_name+last_name+age

TypeError: can only concatenate str (not "int") to str

In [ ]:
#using type casting
first_name+last_name+str(age)

'MuhammadTayyab21'

In [29]:
name = input('Enter your name: ')
fName = input('Enter your father Name: ')
age= float(input('How old are you: '))

print('Mr.' +name+ ' s/o ' +fName+ ' you are '+ str(age)+ ' old')

Mr.zain s/o ashraf you are 18.0 old

# String formaing

In [ ]:
print('Mr. {} s/o {} you are {} old. ' .format(name, fName, age))
# placeholder

Mr. zain s/o ashraf you are 18.0 old.

In [34]:
#f string
print(f'Mr. {name} s/o {fName} you are {age} old.')
# placeholder

Mr. zain s/o ashraf you are 18.0 old.

name zain age ashraf fname 18.0

# String Indexing and Slicing

In [36]:
text = "Absolutely, the first step can feel the hardest because it's where uncertainty." # single line double quotes
text = "Absolutely, the first step can feel the hardest because it's where uncertainty." # single line single quotes

text = """Absolutely,
           the first step can feel 
             the hardest because it's where uncertainty.""" # multiple lines tripple quotes

text = '''Absolutely, the first step can feel 
          the hardest because it's where uncertainty.'''  # multiple lines tripple quotes

In [ ]:
country = 'pakistan'
# index    01234567
# indexing -8-7-6-5-4-3-2-1
#index is position
len(country)

In [37]:
# [] square brackets are always used for indexing
country[5]

't'

In [38]:
country[-5]

'i'

# slicing: sub string

In [ ]:
para = "it's a promising focus for virtual" # sub string

In [ ]:
# agar mujhe zyada chaiye tu mein range likhao ga ky mujhe yaha sy yaha tak chaiye

para[0:5] # [start:end]

"it's "

In [22]:
para[0:7]

"it's a "

In [ ]:
para[0:12:1] # [start:end:step]

"it's a promi"

`Python Collections/Data Structures`
 - `List`
 - `Tuple`
 - `Set`
 - `Dictionary`
 - `String`

# List 
 - []
 - many value
 - many type value
 - copy
 - mutable
 - can contain duplicate elements
 - index starts from 0
 - comma separated values inside square brackets
 - list_name = ['apple', 'banana', 'cherry']

In [39]:
students = ['zain', 'ali', 'fahad', 'fakhar', 'kashif', 'hamza']

print(type(students))

<class 'list'>

In [40]:
students[5]

'hamza'

In [42]:
students[-1]

'hamza'

In [43]:
students[0:5]

['zain', 'ali', 'fahad', 'fakhar', 'kashif']

In [45]:
students[0:5:1]

['zain', 'ali', 'fahad', 'fakhar', 'kashif']

In [46]:
students[0:5:2]

['zain', 'fahad', 'kashif']