# List function/Methods

In [ ]:
students = ['Zain', 'Bakar', 'Hamza', 'Asad', 'Fahad', 'Kasif']

# Adding more memebers to an exising list.
 - append(): appends a memeber a ver last
 - insert(): inserts a memeber at a specified position  
 - extend(): adds a collection to a list.
 - add  +  : concats to list.

In [ ]:
# add memeber at end of list
students.append("Mehmood")
students

['Zain', 'Bakar', 'Hamza', 'Asad', 'Fahad', 'Kasif', 'Mehmood']

In [ ]:
students.append("Ameen", "Qasim")
students
# list.append() takes exactly one argument (2 given)

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
# insert memeber at a specified position
# add Qamar at 2nd index
students.insert(2, "Qamar")
students

['Zain', 'Bakar', 'Qamar', 'Hamza', 'Asad', 'Fahad', 'Kasif', 'Mehmood']

In [ ]:
# add Majid at 100 index
students.insert(100, "Majid")
students

['Zain',
 'Bakar',
 'Qamar',
 'Hamza',
 'Asad',
 'Fahad',
 'Kasif',
 'Mehmood',
 'Majid']

In [63]:
staff = ["Jawwad", "Hina", "Hamza", "Saleem"]

students.extend(staff)

students

# add all staff members at the end of the list

['Zain',
 'Bakar',
 'Qamar',
 'Hamza',
 'Asad',
 'Fahad',
 'Kasif',
 'Mehmood',
 'Majid',
 'Jawwad',
 'Hina',
 'Hamza',
 'Saleem']

In [76]:
#  +
#  +  can also concatenate two lists
security= ["firewall", "antivirus", "spyware"]

students + security

['Zain',
 'Bakar',
 'Qamar',
 'Hamza',
 'Asad',
 'Fahad',
 'Kasif',
 'Mehmood',
 'Jawwad',
 'Hina',
 'Hamza',
 'Saleem',
 'firewall',
 'antivirus',
 'spyware']

# Deleting a memebers in exiting list
 - remove(): removes the first occurrence of a value
 - pop(): removes the last item from the list and can delete a member from given index 
            it returns delete value 
 - del(): deletes parmanetly specified index
 - clear(): removes all items from the list

In [ ]:
del students[10]

students

['Zain',
 'Bakar',
 'Qamar',
 'Hamza',
 'Asad',
 'Fahad',
 'Kasif',
 'Mehmood',
 'Jawwad',
 'Hina']

In [82]:
students.remove('Hamza')

students

['Zain',
 'Bakar',
 'Qamar',
 'Asad',
 'Fahad',
 'Kasif',
 'Mehmood',
 'Jawwad',
 'Hina']

In [83]:
students.remove('hello')

students

ValueError: list.remove(x): x not in list

In [ ]:
students = ['Zain', 'Bakar', 'Hamza', 'Asad', 'Fahad', 'Kasif']

students.pop()

students

['Zain', 'Bakar', 'Hamza', 'Asad', 'Fahad']

In [85]:
pop_value= students.pop()

pop_value, students

('Fahad', ['Zain', 'Bakar', 'Hamza', 'Asad'])

In [ ]:
deleted_values = students.pop()

deleted_values

'Asad'

In [87]:
deleted_values= students.pop(2)

deleted_values

'Hamza'

In [ ]:
# delete muliple values in list
students = ['Zain', 'Bakar', 'Hamza', 'Asad', 'Fahad', 'Kasif']

del students[1: 4]  # deleted Bakar, Hamza and Asad

students

['Zain', 'Fahad', 'Kasif']

In [92]:
# clear all items from list

students.clear()

students

[]

In [93]:
students.index('hamid')

students

ValueError: 'hamid' is not in list

In [94]:
students.extend('2ah34k')

students

['2', 'a', 'h', '3', '4', 'k']

In [ ]:
students.sort()

students

['2', '3', '4', 'a', 'h', 'k']

In [102]:
chr(98)

'b'

In [103]:
ord('b')

98

In [104]:
students.append(200)

students.insert(4, 500)
 
students

['2', '3', '4', 'a', 500, 'h', 'k', 200]

In [105]:
students.sort()

students

TypeError: '<' not supported between instances of 'int' and 'str'

In [106]:
students.reverse()

students

[200, 'k', 'h', 500, 'a', '4', '3', '2']

In [107]:
new_students = students.copy()

new_students

[200, 'k', 'h', 500, 'a', '4', '3', '2']

In [108]:
old_students = students

old_students

[200, 'k', 'h', 500, 'a', '4', '3', '2']

`Pass value and pass by reference(deep copy and shallow copy)`

In [109]:
students

[200, 'k', 'h', 500, 'a', '4', '3', '2']

In [110]:
del students[3]

students

[200, 'k', 'h', 'a', '4', '3', '2']

In [111]:
old_students

[200, 'k', 'h', 'a', '4', '3', '2']

In [112]:
id(students)

1995940942464

In [113]:
id(old_students)

1995940942464

In [ ]:
# shallow copy
new_students

[200, 'k', 'h', 500, 'a', '4', '3', '2']